<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8"/>
    <title>CV Generator</title>
    <meta name="info" content="App web que genera CV con interacción de usuario"/>
    <meta name="author" content="Fredy Quispe"/>
    <meta name="keywords" content="HTML5, CSS3, CV Generator, Flask"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="../static/favicon.ico" />
    </head>
    <div class="all">
        <body>
            <header class="pageTitle">
                <h1>Curriculum Vitae Generator</h1>
            </header>
            <nav class="menu">
                <ul>
                    <li><button>Principal</button></li>
                    <li><button>Ayuda</button></li>
                    <li><button>Acerca de</button></li>
                </ul>
            </nav>
            <section class="content">
                <h2 class="subtitle">{% block subtitle %}{% endblock %}</h2>
                {% block body %}
                
                {% endblock %}
        </section>
        </body>
        <footer class="footer">Todos los derechos reservados 2021-2022.</footer>
    </div>
    
</html>